<br>
<mdb-card cascade="true" narrower="true" class="col-md-12 text-center">
    <div class="view view-cascade ">
        <h2 class="card-header-title">Prédiction des nouveaux dossiers Prise en charge</h2>
            <p></p>
            <div class="text-center align-center">
                <div class="row justify-content-center">
                <form class="form" (submit)="predict(pecReference.value); pecReference.value=''">
                 <div class="form-row align-items-center">
                 <div class="col-auto">
                 <div class="md-form">
                 <input value="" placeholder="Référence" #pecReference type="text" id="form6" class="form-control" mdbInput>
                 <label for="form6">Entrer Référence GA</label>
                </div>
                </div>
                <div class="col-auto">
                <button type="submit" mdbBtn color="cyan" size="sm" class="mb-0">Submit</button>
                </div>
                </div>
                </form>
                </div>        
        </div>
    </div>

<mdb-card-body cascade="true" class="text-center">
    <mdb-card-text class="row justify-content-center">
        <div *ngIf="show;else other_content">

        <table mdbTable responsive="true" small="true" hover="true" *ngFor="let pred of predic">
            <thead>
                 <tr mdbTableCol>
                    <th></th>
                    <th class="text-center">Détails</th>
                    </tr>
            </thead>
            <tbody>
                <tr mdbTableCol >
                    <td><strong>Compagnie d'assurance</strong></td>
                    <td class="text-center">{{pred["Compagnie d'assurance"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Compagnie adverse']"> 
                    <td><strong>Compagnie adverse</strong></td>
                    <td class="text-center">{{pred["Compagnie adverse"]}}</td>
                </tr>
                
                <tr mdbTableCol *ngIf="pred['Expert']">
                    <td><strong>Expert</strong></td>
                    <td class="text-center">{{pred["Expert"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Marque']">
                    <td><strong>Marque</strong></td>
                    <td class="text-center">{{pred["Marque"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Mode de gestion']">
                    <td><strong>Mode de gestion</strong></td>
                    <td class="text-center">{{pred["Mode de gestion"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Garantie impliquée']">
                    <td><strong>Garantie impliquée</strong></td>
                    <td class="text-center">{{pred["Garantie impliquée"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Position GA']">
                    <td><strong>Position GA</strong></td>
                    <td class="text-center">{{pred["Position GA"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Montant total devis']">
                    <td><strong>Montant total devis</strong></td>
                    <td class="text-center">{{pred["Montant total devis"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Point Choc']">
                    <td><strong>Point Choc</strong></td>
                    <td class="text-center">{{pred["Point Choc"]}}</td>
                 </tr>
                 <tr mdbTableCol *ngIf="pred['Nbr réclamations antérieures']">
                     <td><strong>Nbr réclamations antérieures</strong></td>
                     <td class="text-center">{{pred["Nbr réclamations antérieures"]}}</td>
                 </tr>
                 <tr mdbTableCol *ngIf="pred['Retard reclamation']">
                   <td><strong>Retard reclamation</strong></td>
                   <td class="text-center">{{pred["Retard reclamation"]}}</td>
               </tr>
               <tr mdbTableCol>
                   <td><strong>Prédiction</strong></td>
                   <td class="text-center">                                  
                   <span *ngIf="pred['prediction'] == 0; else elseBlock" class=" label label-success"><i class="fa fa-user-check fa-2x text-success"></i> Non Fraud</span>
                   <ng-template #elseBlock><i class="fa fa-user-secret fa-2x text-danger"></i> Fraud</ng-template>
                   </td>
               </tr>
           
           </tbody>
       </table>
       </div>
       <ng-template #other_content><h3>Dossier non trouvé</h3></ng-template>
       </mdb-card-text>


</mdb-card-body>
</mdb-card>
