<br>
<header>
<mdb-card
    class="color-block winter-neva-gradient z-depth-2 py-4 mb-3 mx-2 text-center" cascade="true" narrower="true"
  >
    <div class="view view-cascade ">
    
        <h2 class="card-header-title blue-grey-text"><strong>Prédiction des nouveaux dossiers Prise en charge</strong></h2>
            
           
            <div class="text-center align-center">
                <div class="row justify-content-center">
                <p class="col-md-9 text-center text-dark" >
            Entrez une référence d'un dossier prise en chagre de GA et obtenez un résultat si ce dossier est plus susceptible d'être un cas de fraude ou pas. 
            <br> 
            Le résultat est donné par un algorithme de Machine Learning et est obtenu en temps réel.
            </p>
                <form class="form" (submit)="predict(pecReference.value); pecReference.value=''">
                 <div class="form-row align-items-center">
                 <div class="col-auto">
                 <div class="md-form">
                 <input value="" placeholder="Référence" #pecReference type="text" id="form6" class="form-control" mdbInput>
                 <label for="form6">Entrer Référence GA</label>
                </div>
                </div>
                <div class="col-auto">
                <button type="submit" mdbBtn color="cyan" size="sm" class="mb-0">Valider</button>
                </div>
                </div>
                </form>
                </div>        
        </div>
    </div>
    <mdb-card-body cascade="true" class="text-center">
    <mdb-card-text class="row justify-content-center">
     </mdb-card-text>


</mdb-card-body>
</mdb-card>
</header>

<br>
<main>
<mdb-card cascade="true" narrower="true" class="col-md-12 text-center" *ngIf="predic">
            <h2 class="card-header-title cyan-text"><strong>Résultat de prédiction</strong></h2>

<mdb-card-body cascade="true" class="text-center">
    <mdb-card-text class="row justify-content-center">
        <div *ngIf="show;else other_content">

        <table mdbTable responsive="true" small="true" hover="true" *ngFor="let pred of predic">
            <thead>
                 <tr mdbTableCol>
                    <th></th>
                    <th class="text-center">Détails</th>
                    </tr>
            </thead>
            <tbody>
                <tr mdbTableCol >
                    <td><strong>Compagnie d'assurance</strong></td>
                    <td class="text-center">{{pred["Compagnie d'assurance"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Compagnie adverse']"> 
                    <td><strong>Compagnie adverse</strong></td>
                    <td class="text-center">{{pred["Compagnie adverse"]}}</td>
                </tr>
                
                <tr mdbTableCol *ngIf="pred['Expert']">
                    <td><strong>Expert</strong></td>
                    <td class="text-center">{{pred["Expert"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Marque']">
                    <td><strong>Marque</strong></td>
                    <td class="text-center">{{pred["Marque"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Mode de gestion']">
                    <td><strong>Mode de gestion</strong></td>
                    <td class="text-center">{{pred["Mode de gestion"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Garantie impliquée']">
                    <td><strong>Garantie impliquée</strong></td>
                    <td class="text-center">{{pred["Garantie impliquée"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Position GA']">
                    <td><strong>Position GA</strong></td>
                    <td class="text-center">{{pred["Position GA"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Montant total devis']">
                    <td><strong>Montant total devis</strong></td>
                    <td class="text-center">{{pred["Montant total devis"]}}</td>
                </tr>
                <tr mdbTableCol *ngIf="pred['Point Choc']">
                    <td><strong>Point Choc</strong></td>
                    <td class="text-center">{{pred["Point Choc"]}}</td>
                 </tr>
                 <tr mdbTableCol *ngIf="pred['Nbr réclamations antérieures']">
                     <td><strong>Nbr réclamations antérieures</strong></td>
                     <td class="text-center">{{pred["Nbr réclamations antérieures"]}}</td>
                 </tr>
                 <tr mdbTableCol *ngIf="pred['Retard reclamation']">
                   <td><strong>Retard reclamation</strong></td>
                   <td class="text-center">{{pred["Retard reclamation"]}}</td>
               </tr>
               <tr mdbTableCol>
                   <td><strong>Prédiction</strong></td>
                   <td class="text-center">                                  
                   <span *ngIf="pred['prediction'] == 0; else elseBlock" class=" label label-success">
                   <i class="fa fa-user-check fa-2x text-success"></i> Non Fraude
                 <!-- <br>
                <i class="fa fa-user-secret fa-lg text-danger"></i> 20% Fraude-->
                </span> 

                   <ng-template #elseBlock>
                   <i class="fa fa-user-secret fa-2x text-danger"></i> Fraude
                    <!--<br>
                    <i class="fa fa-user-check fa-lg text-success"></i> 20% Non Fraude-->
                   
                   </ng-template>
                   </td>
               </tr>
           
           </tbody>
       </table>
       </div>
       <ng-template #other_content><h3>Dossier non trouvé <i class="fa fa-frown-o" aria-hidden="true"></i>
</h3></ng-template>
       </mdb-card-text>


</mdb-card-body>
</mdb-card>
</main>
<br>
<br>