<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan">
    <mdb-navbar-brand>
    <img alt="GA BIDA" class="d-inline-block align-top" width="70" height="30" src="./assets/logo2.png" />    </mdb-navbar-brand>
    <links>
   
        <ul class="navbar-nav nav-justified w-100 text-center">
            <li class="nav-item">
                <a class="nav-link waves-light d-flex flex-column" mdbWavesEffect href="/="><i class="fa fa-home" aria-hidden="true"></i> Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                
                <a class="nav-link waves-light d-flex flex-column" mdbWavesEffect href="/dashboard"> <i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light d-flex flex-column" mdbWavesEffect href="/pec"> <i class="fa fa-search" aria-hidden="true"></i> Prédiction</a>
            </li>
           
        </ul>
    </links>
</mdb-navbar>