<div class="row">
  <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" wider="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title cyan-text">
          <strong>Compagine d'assurance</strong>
        </h4>
        <!-- <h5 class="indigo-text">
          <strong>Photographer</strong>
        </h5>-->

       
      </mdb-card-body>
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/compagine_assurance.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

     
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title cyan-text">
          <strong>Compagine adverse</strong>
        </h4>
        <!--Title-->
       <!-- <h4 class="card-title">Cheat day inspirations</h4>-->
        <!--Text-->
      </mdb-card-body>
      <!--/.Card content-->
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/compagine_adverse.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

    </mdb-card>
    <!--/.Card-->
  </div>

 
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" wider="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title cyan-text">
          <strong>Mode de gestion</strong>
        </h4>
        <!-- <h5 class="indigo-text">
          <strong>Photographer</strong>
        </h5>-->

       
      </mdb-card-body>
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/mode_gestion.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

     
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

  <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title cyan-text">
          <strong>Position GA</strong>
        </h4>
        <!--Title-->
       <!-- <h4 class="card-title">Cheat day inspirations</h4>-->
        <!--Text-->
      </mdb-card-body>
      <!--/.Card content-->
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/positionGA.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

    </mdb-card>
    <!--/.Card-->
  </div>

 
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <!--Card-->
    <mdb-card cascade="true" wider="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title cyan-text">
          <strong>Point de choc</strong>
        </h4>
        <!-- <h5 class="indigo-text">
          <strong>Photographer</strong>
        </h5>-->

       
      </mdb-card-body>
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/pt_choc.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

     
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>

 
 
</div>
<br>
<div class="row">

 <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title cyan-text">
          <strong>Cas de barème</strong>
        </h4>
        <!--Title-->
       <!-- <h4 class="card-title">Cheat day inspirations</h4>-->
        <!--Text-->
      </mdb-card-body>
      <!--/.Card content-->
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/cas_bareme.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

    </mdb-card>
    <!--/.Card-->
  </div>

 <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title cyan-text">
          <strong>Marque</strong>
        </h4>
        <!--Title-->
       <!-- <h4 class="card-title">Cheat day inspirations</h4>-->
        <!--Text-->
      </mdb-card-body>
      <!--/.Card content-->
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/marque.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title cyan-text">
          <strong>Montant total devis</strong>
        </h4>
        <!--Title-->
       <!-- <h4 class="card-title">Cheat day inspirations</h4>-->
        <!--Text-->
      </mdb-card-body>
      <!--/.Card content-->
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/montant_fraud.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

    </mdb-card>
    <!--/.Card-->
  </div>

 
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" narrower="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <h4 class="card-title cyan-text">
          <strong>Montant total devis</strong>
        </h4>
        <h5 class="pink-text">
          <strong>Par rapport mode de gestion</strong>
        </h5>
      </mdb-card-body>
      <!--/.Card content-->
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/montant_mode.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

    </mdb-card>
    <!--/.Card-->
  </div>

 

 <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" wider="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title cyan-text">
          <strong>Montant total devis</strong>
        </h4>
     <h5 class="pink-text">
          <strong>Par rapport garantie impliquée</strong>
        </h5>

       
      </mdb-card-body>
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/montant_garantie.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->

     
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <!--Card-->
    <mdb-card cascade="true" wider="true">
 <mdb-card-body cascade="true" class="text-center">
        <!--Card content-->
        <!--Title-->
        <h4 class="card-title cyan-text">
          <strong>Nombre réclamations antérieures</strong>
        </h4>
        <!-- <h5 class="indigo-text">
          <strong>Photographer</strong>
        </h5>-->

       
      </mdb-card-body>
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="../../assets/figure_EDA/nbr_reclam.png"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image--
     
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>
  </div>